{% extends 'base.html' %}

{% block title %}Update{% endblock %}

{% block content %}
    <div class="text-center my-3">
        <h1>{{ event_name }}</h1>
        <h3>Description</h3>
        <p>{{ description }}</p>
        <h3>Status</h3>
        <p>{{ status }}</p>
        <h3>Date</h3>
        <p>{{ event_date }}</p>

        <button class="btn btn-warning mx-1 text-decoration-none">
            <a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Back To Home</a>
        </button>
    </div>
{% endblock %}